<!-- Page Content -->

<!-- Blog Entries Column -->
<div>
  <div class="my-4 page-heading">
    <h1>
      Welcome to Our Blog
      <small>Your Source for the Latest Insights and Stories</small>
    </h1>
  </div>

  <!-- Blog Post -->
  <div class="card mb-4" *ngFor="let post of posts">
    <img
      class="card-img-top"
      src="{{ post.imageUrl }}"
      width="750"
      height="300"
      style="object-fit: cover"
      alt="{{ post.title }}"
    />
    <div class="card-body">
      <h2 class="card-title">{{ post.title }}</h2>
      <p class="card-text">
        {{ post.content }}
      </p>
      <a [routerLink]="['/post', post.id, 'comments']" class="btn btn-primary"
        >Read More &rarr;</a
      >
    </div>
    <div class="card-footer text-muted">
      Posted on {{ formatDate(post.createdAt) }} by
      <span href="" class="text-primary">....</span>

      <!-- Likes -->
      <button class="btn btn-light" (click)="likePost(post.id)">
        <i class="bi bi-hand-thumbs-up text-success mr-2"></i>
        <span class="text-success">{{ post.likes }}</span>
      </button>

      <!-- <button (click)="likePost(post.id)" [disabled]="post.userLiked || post.userDisliked">Like ({{ post.likes }})</button>
  <button (click)="dislikePost(post.id)" [disabled]="post.userLiked || post.userDisliked">Dislike ({{ post.dislikes }})</button> -->
      <!-- Dislikes -->
      <button class="btn btn-light" (click)="dislikePost(post.id)">
        <i class="bi bi-hand-thumbs-down text-danger mr-2"></i>
        <span class="text-danger">{{ post.dislikes }}</span>
      </button>

      <!-- Comments -->
      <a class="btn btn-link" [routerLink]="['/post', post.id, 'comments']">
        <i class="bi bi-chat-left-text mr-2"></i>
        <span>{{ getPostCommentsCount(post.id) }}</span>
      </a>

      <!-- Shares -->
      <button class="btn btn-light" (click)="sharePost(post.id)">
        <i class="bi bi-share mr-1"></i> Share
        <!-- <span>{{ shareCount }}</span> -->
      </button>
    </div>
  </div>

  <!-- Blog Post -->
  <!-- <div class="card mb-4">
    <img
      class="card-img-top"
      src="http://placehold.it/750x300"
      alt="Card image cap"
    />
    <div class="card-body">
      <h2 class="card-title">Post Title</h2>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis
        aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta
        expedita corporis animi vero voluptate voluptatibus possimus, veniam
        magni quis!
      </p>
      <a href="#" class="btn btn-primary">Read More &rarr;</a>
    </div>
    <div class="card-footer text-muted">
      Posted on January 1, 2017 by
      <a href="#">Start Bootstrap</a>
    </div>
  </div> -->

  <!-- Blog Post -->
  <!-- <div class="card mb-4">
    <img
      class="card-img-top"
      src="http://placehold.it/750x300"
      alt="Card image cap"
    />
    <div class="card-body">
      <h2 class="card-title">Post Title</h2>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis
        aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta
        expedita corporis animi vero voluptate voluptatibus possimus, veniam
        magni quis!
      </p>
      <a href="#" class="btn btn-primary">Read More &rarr;</a>
    </div>
    <div class="card-footer text-muted">
      Posted on January 1, 2017 by
      <a href="#">Start Bootstrap</a>
    </div>
  </div> -->

  <!-- Pagination -->
  <ul class="pagination justify-content-center mb-4">
    <li
      class="page-item"
      (click)="prevPage()"
      [ngClass]="{ disabled: page === 0 }"
    >
      <button class="page-link">&larr; Older</button>
    </li>
    <li
      class="page-item"
      (click)="nextPage()"
      [ngClass]="{ disabled: page === totalPages - 1 }"
    >
      <button class="page-link">Newer &rarr;</button>
    </li>
  </ul>
</div>
